node-red/ncd-dashboard-rtd-temperature.json
[{"id":"d92008bca04eb11f","type":"subflow","name":"RTD","info":"","category":"NCD","in":[{"x":1000,"y":1180,"wires":[{"id":"23f85d30d67830bf"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-thermometer-half","status":{"x":3020,"y":1100,"wires":[{"id":"6495d6dc235a5764","port":0},{"id":"5f839f60667ce114","port":0},{"id":"4ca34d69eb9df267","port":0}]}},{"id":"5f8f21bdd4c107d7","type":"function","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":4760,"y":820,"wires":[["2cd5bf9b08b9a526"]]},{"id":"c59a870d62b55e53","type":"http response","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","statusCode":"","headers":{},"x":5050,"y":820,"wires":[]},{"id":"2cd5bf9b08b9a526","type":"file in","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4920,"y":820,"wires":[["c59a870d62b55e53"]]},{"id":"b2ce40774b6cb6b7","type":"catch","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","scope":["2cd5bf9b08b9a526"],"uncaught":false,"x":4610,"y":880,"wires":[["2a6a72e2a7132084","de08a066b0e3d7da","cb72e8deb2c2c4c3"]]},{"id":"c695d84d0418bc90","type":"http in","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","url":"/rtd/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":4140,"y":820,"wires":[["7f491d0477a81e79","3dc70aa13e1375a2"]]},{"id":"5b6e63aa140289b9","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"rtdDateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":4590,"y":820,"wires":[["5f8f21bdd4c107d7"]]},{"id":"7f491d0477a81e79","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":4255,"y":800,"wires":[["e063f3e5c5f74c4d"]],"l":false},{"id":"3dc70aa13e1375a2","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":4255,"y":840,"wires":[["4b6473999e286c92"]],"l":false},{"id":"e063f3e5c5f74c4d","type":"switch","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4305,"y":800,"wires":[["687cbe034e41796d"]],"l":false},{"id":"4b6473999e286c92","type":"switch","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4305,"y":840,"wires":[["eade5c94e5f98725"]],"l":false},{"id":"687cbe034e41796d","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"rtdMacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4420,"y":800,"wires":[["5b6e63aa140289b9"]]},{"id":"c8316edf37425bec","type":"ui-notification","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":5020,"y":860,"wires":[]},{"id":"2a6a72e2a7132084","type":"function","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"error message","func":"var error = \"NCD Error: no such file or directory\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4780,"y":860,"wires":[["e6d4c58dc9025629"]]},{"id":"e6d4c58dc9025629","type":"trigger","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":4895,"y":860,"wires":[["c8316edf37425bec"]],"l":false},{"id":"eade5c94e5f98725","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"rtdMacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4420,"y":840,"wires":[["5b6e63aa140289b9"]]},{"id":"de08a066b0e3d7da","type":"http response","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"rtdRedirecting","statusCode":"302","headers":{"location":"/dashboard/rtd"},"x":4780,"y":900,"wires":[]},{"id":"cb72e8deb2c2c4c3","type":"trigger","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":4715,"y":940,"wires":[["7cea99bdffc9c49f"]],"l":false},{"id":"7cea99bdffc9c49f","type":"link out","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"link out 109","mode":"link","links":["c943de803dd8c936"],"x":4775,"y":940,"wires":[]},{"id":"b759caeb85e368b7","type":"ui-text-input","z":"d92008bca04eb11f","g":"460953dc96060b48","group":"f2ad2d46148516b3","name":"rtdDatePicker","label":"Date:","order":2,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","tooltip":"","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"rtdDatePicker","clearable":false,"sendOnClear":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","x":4720,"y":680,"wires":[["761dc5f24506fb85"]]},{"id":"7ebdb792f318a5dc","type":"ui-template","z":"d92008bca04eb11f","g":"460953dc96060b48","group":"f2ad2d46148516b3","page":"","ui":"","name":"rtdDownload","order":1,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/rtd/log/ncd-rtd.csv\">\n        <v-btn class=\"rtdButtonDownload\" color=\"#ffffff\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.rtdButtonDownload{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n    color: #999999 !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":5150,"y":680,"wires":[[]]},{"id":"761dc5f24506fb85","type":"change","z":"d92008bca04eb11f","g":"460953dc96060b48","name":"","rules":[{"t":"set","p":"rtdDateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4940,"y":680,"wires":[[]]},{"id":"c8b7ded7a40d8c6a","type":"ui-template","z":"d92008bca04eb11f","g":"56527be957791d6c","group":"","page":"1cc9b1f9c6862e4e","ui":"","name":"rtdStyle","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #e7f3fa !important;\n}\n.v-btn--icon .v-icon {\n    color: white;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  45px !important;\n    background-color: #ffffff !important;\n    border-color: #e7f3fa  !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 58px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #0ac0cf !important;\n    border-color: #0ac0cf ;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #0ac0cf !important;\n    border-color: #0ac0cf;\n}\n.rtdGroupSelectMac .bg-group-background {\n    border-radius: 20px !important;\n    background-color: #0ac0cf !important;\n    border-color: #0ac0cf !important;\n}\n.rtdGroupSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.rtdGroupSelectMac .v-card{\n    height: 92px !important;\n}\n.rtdGroupDownload .bg-group-background {\n    border-radius: 20px !important;\n    background-color: #0ac0cf !important;\n    border-color: #0ac0cf !important;\n}\n.rtdGroupDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.rtdGroupDownload .v-card{\n    height: 155px !important;\n}\n.rtdDatePicker{\n    top: 12px;\n    left: -12px;\n    width: 155px;\n    position: relative;\n    color: white;\n}\n.rtdInspectGroup .v-card{\n    height: 1077px !important;\n}\n.rtdTempChart .v-card{\n    height: 785px !important;\n}\n.rtdGauges .v-card{\n    height: 785px !important;\n}\n.rtdBattGroups .v-card{\n    height: 280px !important;\n}\n.rtdTitlesText .nrdb-ui-text-label{\n    position: absolute;\n    top: 10px !important;\n    font-size: 25px !important;\n    font-weight: bold;\n    color: #999999;\n}\n.rtdTitlesTextF .nrdb-ui-text-label{\n    position: absolute;\n    top: 420px !important;\n    font-size: 28px !important;\n    font-weight: bold;\n    color: #999999;\n}\n.rtdTitlesTextC .nrdb-ui-text-label{\n    position: absolute;\n    top: 10px !important;\n    font-size: 28px !important;\n    font-weight: bold;\n    color: #999999;\n}\n.rtdMainChart {\n    position: relative !important;\n    top: -60px !important;\n    height: 755px !important;\n}\n.rtdBatteryChart{\n    position: relative !important;\n    top: -60px !important;\n    height: 260px !important;\n}\n.rtdSelectMAC{\n    color: white;\n}\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":5020,"y":580,"wires":[[]]},{"id":"21c65f58ea6913ee","type":"ui-template","z":"d92008bca04eb11f","g":"56527be957791d6c","group":"","page":"1cc9b1f9c6862e4e","ui":"","name":"rdtLogo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"rtdlogo\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"#0ac0cf\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.rtdlogo {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4880,"y":580,"wires":[[]]},{"id":"275482dadd9e548d","type":"ui-template","z":"d92008bca04eb11f","g":"56527be957791d6c","group":"","page":"1cc9b1f9c6862e4e","ui":"","name":"rtdProductInfo","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/industrial-iot-wireless-rtd-temperature-sensor/\" target=\"_blank\">\n        <v-btn class=\"rtdInfoButton\" color=\"#ffffff\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.rtdInfoButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n    color: #999999 !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4720,"y":580,"wires":[[]]},{"id":"ab30a761b0172a03","type":"function","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"rtdInspectFunction","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\nif(!toggle) /* First time */\n{\n    flow.set(\"rtdInspect\", true);\n    unit = {\n        groups: \n        { \n            show: [\n                \"ncd-rtd:rtdInspect1\",\n                \"ncd-rtd:rtdInspect2\",\n                \"ncd-rtd:rtdInspect3\"\n                ],\n            hide: \n            [\n                \"ncd-rtd:rtdBatteryGauge\",\n                \"ncd-rtd:rtdBatteryChart\",\n                \"ncd-rtd:rtdGauges\",\n                \"ncd-rtd:rtdTempChart\"   \n            ],\n            disable: \n            [\n                \"ncd-rtd:rtdSelectMac\",\n                \"ncd-rtd:rtdDownload\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"rtdInspect\", false);\n    unit = \n    {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-rtd:rtdInspect1\",\n                \"ncd-rtd:rtdInspect2\",\n                \"ncd-rtd:rtdInspect3\"\n            ],\n            show: [\n                \"ncd-rtd:rtdBatteryGauge\",\n                \"ncd-rtd:rtdBatteryChart\",\n                \"ncd-rtd:rtdGauges\",\n                \"ncd-rtd:rtdTempChart\"   \n            ],\n            enable : \n            [\n                \"ncd-rtd:rtdSelectMac\",\n                \"ncd-rtd:rtdDownload\"\n            ]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4330,"y":560,"wires":[["9608ca02881b8d2f"]]},{"id":"c112b1eb314ec8fb","type":"ui-template","z":"d92008bca04eb11f","g":"5edd2213c8316624","group":"","page":"1cc9b1f9c6862e4e","ui":"","name":"rtdInspectButton","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"rtdInspectButton\" @click=\"send({payload:true})\" color=\"#ffffff\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.rtdInspectButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n    color: #999999 !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4140,"y":560,"wires":[["ab30a761b0172a03"]]},{"id":"9608ca02881b8d2f","type":"ui-control","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"","ui":"ec459411017ddf37","events":"change","x":4500,"y":600,"wires":[[]]},{"id":"92d8677b5e6fa1bf","type":"function","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"rtdInitShow","func":"let unit = {};\nunit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-rtd:rtdInspect1\",\n            \"ncd-rtd:rtdInspect2\",\n            \"ncd-rtd:rtdInspect3\"\n        ],\n        show: [\n            \"ncd-rtd:rtdBatteryGauge\",\n            \"ncd-rtd:rtdBatteryChart\",    \n            \"ncd-rtd:rtdGauges\",\n            \"ncd-rtd:rtdTempChart\"        \n\n        ],\n        enable : \n        [\n            \"ncd-rtd:rtdSelectMac\",\n            \"ncd-rtd:rtdDownload\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4350,"y":640,"wires":[["9608ca02881b8d2f"]]},{"id":"d0a9cb2be1138c62","type":"ui-event","z":"d92008bca04eb11f","g":"5edd2213c8316624","ui":"ec459411017ddf37","name":"","x":4170,"y":600,"wires":[["92d8677b5e6fa1bf","c5f9ca81aeecd92d"]]},{"id":"e1c7b07bc094accc","type":"inject","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":4165,"y":680,"wires":[["40e074ab323d7e23"]],"l":false},{"id":"40e074ab323d7e23","type":"change","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"rtdDeleteFlowVar","rules":[{"t":"delete","p":"rtdMAC","pt":"flow"},{"t":"delete","p":"rtdMacSelection","pt":"flow"},{"t":"delete","p":"rtdDateDownloadFile","pt":"flow"},{"t":"delete","p":"rtdNumSelectedMAC","pt":"flow"},{"t":"delete","p":"rtdInspect","pt":"flow"},{"t":"delete","p":"rtdCountMac","pt":"flow"},{"t":"delete","p":"rtdType","pt":"flow"},{"t":"delete","p":"thflagType","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4225,"y":680,"wires":[["92d8677b5e6fa1bf","c0cf694846b29bca"]],"icon":"font-awesome/fa-remove","l":false},{"id":"c0cf694846b29bca","type":"link out","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"link out 114","mode":"link","links":["d8edbbd6987378fe","b1e9ecc59eb07574","8dbec8e5511de9bc","826b7883d146eea9","2254d5bf18f597ee","803287ecc16e57dd","f4c3ba3c6fe062df","a01f2aedd38588f3","a7e2bb9fa3862e35","ec56779f298093d0","6aa618388045377d","afcdc7ad05f5da2d","a4d34e20ee3e019b","e9c8444ab11a41dd"],"x":4295,"y":680,"wires":[]},{"id":"4b42b1cd24ee889b","type":"link in","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"link in 172","links":["e0f72538f15e12b2"],"x":4385,"y":600,"wires":[["9608ca02881b8d2f"]]},{"id":"c943de803dd8c936","type":"link in","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"link in 173","links":["7cea99bdffc9c49f"],"x":4225,"y":640,"wires":[["92d8677b5e6fa1bf"]]},{"id":"427f72e713f3b422","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1540,"wires":[["9009862a681da4da"]],"l":false},{"id":"af91089fe91a2ba8","type":"link in","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"link in 174","links":["cc0226f553298130","6fd47adcde483659"],"x":4075,"y":1720,"wires":[["427f72e713f3b422","24926e799e831a6f","ad1b24b6d5b89e26","6d3ac2b8bfa50483","3afd62ed94821fad","6bbc39e1fa1e41ad","e655b63146ca066c","d2dac8e7084f234b","6d132fc44a9ffe66","219e15c4e6aad59b"]]},{"id":"24926e799e831a6f","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1580,"wires":[["558b0819339188d9"]],"l":false},{"id":"ad1b24b6d5b89e26","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1620,"wires":[["cfb62fea9d3beaaa"]],"l":false},{"id":"6d3ac2b8bfa50483","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1660,"wires":[["d876eaa7ca6cc284"]],"l":false},{"id":"3afd62ed94821fad","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1700,"wires":[["25408472b5c31603"]],"l":false},{"id":"6bbc39e1fa1e41ad","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1740,"wires":[["4812c0f09de79d4e"]],"l":false},{"id":"e655b63146ca066c","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1780,"wires":[["389579aed0ef99ba"]],"l":false},{"id":"d2dac8e7084f234b","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1820,"wires":[["25b521a73bd50eed"]],"l":false},{"id":"6d132fc44a9ffe66","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1860,"wires":[["a777479cea61d4fd"]],"l":false},{"id":"219e15c4e6aad59b","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":1900,"wires":[["383856288292108d"]],"l":false},{"id":"720cf7c9c6219e97","type":"link in","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"link in 175","links":["cc0226f553298130","6fd47adcde483659"],"x":4435,"y":1540,"wires":[["7b49b4220b9f5388"]]},{"id":"2c8347459d2255d0","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4845,"y":1540,"wires":[["b8fb2bde2d8848e6"]],"l":false},{"id":"c6cbc1e19a4e5930","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4845,"y":1620,"wires":[["608248cda8aa4d6e"]],"l":false},{"id":"0b9860878e605c21","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4845,"y":1660,"wires":[["210e7435eaee1386"]],"l":false},{"id":"2eb03f0fadf75b41","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4845,"y":1700,"wires":[["b228a2b88a9bed5e"]],"l":false},{"id":"d6b4c5b36a577a03","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4845,"y":1740,"wires":[["ac4da71d37717c93"]],"l":false},{"id":"cb55e94626a51bd1","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4845,"y":1780,"wires":[["ebcdda15bbcd51b8"]],"l":false},{"id":"f90425dd1fa04045","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4845,"y":1860,"wires":[["471333df010b4039"]],"l":false},{"id":"a93cb5a17e7ad136","type":"link in","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"link in 176","links":["cc0226f553298130","6fd47adcde483659"],"x":4735,"y":1740,"wires":[["2c8347459d2255d0","c6cbc1e19a4e5930","0b9860878e605c21","2eb03f0fadf75b41","d6b4c5b36a577a03","cb55e94626a51bd1","c23cee37c9ce2750"]]},{"id":"c23cee37c9ce2750","type":"switch","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":4795,"y":1840,"wires":[["bdb2ea5b1fbf7660"],["f90425dd1fa04045"]],"l":false},{"id":"bdb2ea5b1fbf7660","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4845,"y":1820,"wires":[["471333df010b4039"]],"l":false},{"id":"9009862a681da4da","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4260,"y":1540,"wires":[]},{"id":"558b0819339188d9","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4290,"y":1580,"wires":[]},{"id":"cfb62fea9d3beaaa","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4260,"y":1620,"wires":[]},{"id":"d876eaa7ca6cc284","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4270,"y":1660,"wires":[]},{"id":"25408472b5c31603","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4260,"y":1700,"wires":[]},{"id":"4812c0f09de79d4e","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4270,"y":1740,"wires":[]},{"id":"389579aed0ef99ba","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4280,"y":1780,"wires":[]},{"id":"25b521a73bd50eed","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4250,"y":1820,"wires":[]},{"id":"a777479cea61d4fd","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4260,"y":1860,"wires":[]},{"id":"383856288292108d","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4260,"y":1900,"wires":[]},{"id":"b690b3c207191c05","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"e910cf535b1f9673","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","className":"","x":4250,"y":1500,"wires":[]},{"id":"ec656663f90b5f07","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"23ca22d29798417d","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","className":"","x":4570,"y":1500,"wires":[]},{"id":"38b8d990be0efee6","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","className":"","x":4950,"y":1500,"wires":[]},{"id":"b8fb2bde2d8848e6","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4930,"y":1540,"wires":[]},{"id":"0d8b95f3fb58bc88","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":4,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","className":"","x":4980,"y":1580,"wires":[]},{"id":"608248cda8aa4d6e","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":3,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4930,"y":1620,"wires":[]},{"id":"210e7435eaee1386","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4940,"y":1660,"wires":[]},{"id":"b228a2b88a9bed5e","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4930,"y":1700,"wires":[]},{"id":"ac4da71d37717c93","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4950,"y":1740,"wires":[]},{"id":"ebcdda15bbcd51b8","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4930,"y":1780,"wires":[]},{"id":"471333df010b4039","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":10,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#36ccff","className":"","x":4980,"y":1860,"wires":[]},{"id":"010ca20d178749aa","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"aeea3b425edd8943","order":9,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#36ccff","className":"","x":4930,"y":1820,"wires":[]},{"id":"7b49b4220b9f5388","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4485,"y":1540,"wires":[["96cceea19ef7d328"]],"l":false},{"id":"96cceea19ef7d328","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"23ca22d29798417d","order":2,"width":"0","height":"0","name":"Temperature Ch1","label":"Temperature (°C):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#36ccff","className":"","x":4610,"y":1540,"wires":[]},{"id":"d874c73397e0a7fc","type":"link in","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"link in 158","links":["8187b2bb94b66b5d","4b7963d0742c3114"],"x":4075,"y":1140,"wires":[["17e0f1f8858a1668"]]},{"id":"5482d83d4afbbeae","type":"change","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4575,"y":1220,"wires":[["8a36cd182b91b9d2"]],"l":false},{"id":"8a36cd182b91b9d2","type":"range","z":"d92008bca04eb11f","g":"52e06e6bf5459023","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4625,"y":1220,"wires":[["617d95d512be2351"]],"l":false},{"id":"f15ad0d7c5ca2802","type":"link in","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"link in 159","links":["e266a4021ebe0794","8187b2bb94b66b5d","f3d1c6bd0ac98589","9b541280800d2ea6"],"x":4525,"y":1220,"wires":[["5482d83d4afbbeae"]]},{"id":"7db152f132896984","type":"ui-text","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"d068e3a10655f330","order":1,"width":"0","height":"0","name":"rtdTemperatureChartText","label":"Historical Temperature Data (°C/°F)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"rtdTitlesText","x":4290,"y":1260,"wires":[]},{"id":"f66f90e28763a925","type":"ui-chart","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"6b4595771e187bd5","name":"rtdBatteryChart","label":"","order":2,"chartType":"line","category":"Battery","categoryType":"str","xAxisLabel":"","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","yAxisLabel":"","yAxisProperty":"battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"3","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#8b8bea","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"10","height":"4","className":"rtdBatteryChart","x":4800,"y":1140,"wires":[[]]},{"id":"617d95d512be2351","type":"ui-template","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"a6cfeb370f036dcd","page":"","ui":"","name":"rtdBatteryPercent","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"rtdCircularBatt\" :rotate=\"180\" bg-color=\"#e7f3fa\" model-value=\"20\" :size=\"220\" :width=\"35\" color=\"#8b8bea\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-battery-medium\"></v-icon>\n                <br>\n            </div>\n            <div class=\"rtdScaleBatt\">\n                {{ msg.scale }}%\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.rtdCircularBatt{\n    font-size: 35px;\n    font-weight: bold !important;\n    left: 27px !important;\n    top: -30px;\n}\n.rtdScaleBatt{\n    color: #999999;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4790,"y":1220,"wires":[[]]},{"id":"edca1f73e574a815","type":"link in","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"link in 160","links":["cc0226f553298130"],"x":4515,"y":1100,"wires":[["43a59a5ae9581298"]]},{"id":"43a59a5ae9581298","type":"change","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4565,"y":1100,"wires":[["12d0fb4c7e34a96a","f66f90e28763a925","617d95d512be2351"]],"l":false},{"id":"9b4e8a77902c2f59","type":"link in","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"link in 161","links":["8187b2bb94b66b5d","45327efd0dbd5541","f3d1c6bd0ac98589","9b541280800d2ea6"],"x":4515,"y":1140,"wires":[["f66f90e28763a925"]]},{"id":"8dbec8e5511de9bc","type":"link in","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"link in 162","links":["c0cf694846b29bca","12d0fb4c7e34a96a"],"x":4155,"y":1300,"wires":[["5b85f6df5d454f87"]]},{"id":"b1e9ecc59eb07574","type":"link in","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"link in 163","links":["c0cf694846b29bca"],"x":4515,"y":1180,"wires":[["8a36cd182b91b9d2","f66f90e28763a925"]]},{"id":"5b85f6df5d454f87","type":"ui-chart","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"d068e3a10655f330","name":"th1ChMainChart","label":"","order":2,"chartType":"line","category":"[\"Celsius\", \"Fahrenheit\"]","categoryType":"json","xAxisLabel":"","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","yAxisLabel":"","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"5","showLegend":true,"removeOlder":"1","removeOlderUnit":"3600","removeOlderPoints":"20","colors":["#ffd264","#36d5d9","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"10","height":"2","className":"rtdMainChart","x":4320,"y":1300,"wires":[[]]},{"id":"193436f9b9a898f0","type":"ui-text","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"6b4595771e187bd5","order":1,"width":"10","height":"1","name":"rtdBatteryChartText","label":"Historical Battery Percent (%)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"rtdTitlesText","x":4790,"y":1100,"wires":[]},{"id":"d9498b6c07e249f9","type":"link in","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"link in 164","links":["8187b2bb94b66b5d","45327efd0dbd5541"],"x":4155,"y":1340,"wires":[["91f7d10b8276b7ec"]]},{"id":"12d0fb4c7e34a96a","type":"link out","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"link out 110","mode":"link","links":["8dbec8e5511de9bc","2254d5bf18f597ee","803287ecc16e57dd","afcdc7ad05f5da2d","a4d34e20ee3e019b","e9c8444ab11a41dd"],"x":4655,"y":1100,"wires":[]},{"id":"f722f11bafca9bea","type":"ui-text","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"fb272c46accd5141","order":1,"width":"2","height":"1","name":"rtdTemperatureC","label":"Temperature °C","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"rtdTitlesTextC","x":4310,"y":1100,"wires":[]},{"id":"74a16cee8b6c1968","type":"ui-text","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"a6cfeb370f036dcd","order":1,"width":"2","height":"1","name":"rtdBatteryGaugeText","label":"Battery","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"rtdTitlesText","x":4780,"y":1180,"wires":[]},{"id":"050a294b2e615586","type":"ui-template","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"fb272c46accd5141","page":"","ui":"","name":"rtdGaugeC","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"rtdGaugeC\" :rotate=\"180\" bg-color=\"#e7f3fa\" model-value=\"20\" :size=\"275\" :width=\"40\" color=\"#ffd264\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"rtdScaleGaugeC\">\n                {{ msg.scale }}\n                <br>\n                °C\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.rtdGaugeC{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: 0px !important;\n    top: 15px;\n}\n.rtdScaleGaugeC{\n    color: #999999;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4330,"y":1140,"wires":[[]]},{"id":"54397ff1341c46b4","type":"ui-text","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"fb272c46accd5141","order":3,"width":"2","height":"1","name":"rtdTemperatureF","label":"Temperature °F","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"rtdTitlesTextF","x":4310,"y":1180,"wires":[]},{"id":"e6a7addf5380739d","type":"ui-template","z":"d92008bca04eb11f","g":"52e06e6bf5459023","group":"fb272c46accd5141","page":"","ui":"","name":"rtdGaugeF","order":4,"width":"0","height":"0","head":"","format":"<template>\n    <div>\n        <div class=\"rtdline\"></div>\n    </div>\n    <v-progress-circular class=\"rtdGaugeTempF\" :rotate=\"180\" bg-color=\"#e7f3fa\" model-value=\"20\" :size=\"275\" :width=\"40\" color=\"#36d5d9\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"rtdScaleTempF\">\n                {{ msg.scale }}\n                <br>\n                °F\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.rtdGaugeTempF{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: 0px !important;\n    top: 55px;\n}\n.rtdScaleTempF{\n    color: #999999;\n}\n.rtdline {\n    position: relative;\n    border-left: 800px solid #e7f3fa ;\n    height: 15px !important;\n    margin-left: -20px;\n    top: -25px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4330,"y":1220,"wires":[[]]},{"id":"ec6f59f1014b547e","type":"range","z":"d92008bca04eb11f","g":"52e06e6bf5459023","minin":"-200","maxin":"850","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4225,"y":1140,"wires":[["050a294b2e615586"]],"l":false},{"id":"17e0f1f8858a1668","type":"change","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4125,"y":1140,"wires":[["ec6f59f1014b547e","ab94ad56d51a6c2d"]],"l":false},{"id":"ab94ad56d51a6c2d","type":"change","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4185,"y":1180,"wires":[["02aa5ac24bcd7862"]],"l":false},{"id":"02aa5ac24bcd7862","type":"range","z":"d92008bca04eb11f","g":"52e06e6bf5459023","minin":"-328","maxin":"1562","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4225,"y":1220,"wires":[["e6a7addf5380739d"]],"l":false},{"id":"91f7d10b8276b7ec","type":"function","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"function 54","func":"let celsius = msg.payload[0].temperature\nlet timestamp = msg.payload[0].Timestamp;\nlet fahrenheit = (celsius * 9/5) + 32;\nmsg.payload = [{\n    Celsius : celsius,\n    Fahrenheit : fahrenheit,\n    Timestamp: timestamp\n    }\n]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4205,"y":1340,"wires":[["5b85f6df5d454f87"]],"l":false},{"id":"826b7883d146eea9","type":"link in","z":"d92008bca04eb11f","g":"52e06e6bf5459023","name":"link in 180","links":["c0cf694846b29bca"],"x":4075,"y":1200,"wires":[["ec6f59f1014b547e","02aa5ac24bcd7862"]]},{"id":"4b7963d0742c3114","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 115","mode":"link","links":["d874c73397e0a7fc","6690285103acddf3","b1749dc2a8dc35a7","40f0f4fa02a6e7d5","0116ff9d37eb6fb2","bbaf041d777faf63"],"x":3765,"y":1320,"wires":[]},{"id":"8187b2bb94b66b5d","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 116","mode":"link","links":["9b4e8a77902c2f59","d874c73397e0a7fc","f15ad0d7c5ca2802","d9498b6c07e249f9"],"x":3715,"y":1180,"wires":[]},{"id":"45327efd0dbd5541","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"toGraphs","mode":"link","links":["d9498b6c07e249f9","9b4e8a77902c2f59","8959c21dcbcdb113","4516a42cbfb1312f","dc43c8d7324f9c40","f851a56854a13a82","215c782bcf901cce"],"x":3915,"y":1400,"wires":[]},{"id":"1dbbcd19132e38b2","type":"file in","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3285,"y":1360,"wires":[["711c5e3d68e0266c"]],"l":false},{"id":"711c5e3d68e0266c","type":"csv","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":3335,"y":1360,"wires":[["e13c4eff22eda1d3"]],"l":false},{"id":"017537387632f522","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":1200,"wires":[["547263b22b974b61"]]},{"id":"8e5611d2f34c2f6f","type":"csv","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":2815,"y":1160,"wires":[["122c1343a25e4027"]],"l":false},{"id":"122c1343a25e4027","type":"file","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":2865,"y":1160,"wires":[["59bfeed6bfe526ef","4ca34d69eb9df267"]],"l":false},{"id":"59bfeed6bfe526ef","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getAndSetMAC","func":"let newMAC = msg.data.addr;\nlet count = flow.get(\"rtdCountMac\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"rtdMac[\"+index+\"]\")[0]; \n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        return msg;\n    }\n}\nflow.set(\"rtdMac[\"+count+\"]\", [newMAC, msg.data.sensor_type]); \ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \nflow.set(\"rtdCountMac\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3010,"y":1180,"wires":[["d52de4044cdb349a","5a757973d40e9273"]]},{"id":"d52de4044cdb349a","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getMACOptionsForDropdown","func":"let count = flow.get(\"rtdCountMac\");\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"rtdMac[\"+index+\"]\")[0];\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3250,"y":1200,"wires":[["69c6e36888f070b4","d772504c6cd2a397"]]},{"id":"2e06813b38411fb2","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":1420,"wires":[["3dbebf1735cbac2b"]]},{"id":"69c6e36888f070b4","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"rtdMacSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":3520,"y":1200,"wires":[["8a4dcc8b713e0582"]]},{"id":"10a17a0e2370ebe5","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3620,"y":1400,"wires":[["6ece9b51001c3f33"]]},{"id":"6ece9b51001c3f33","type":"json","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"json object","property":"payload.data","action":"","pretty":false,"x":3715,"y":1400,"wires":[["9113b34e600c970e"]],"l":false},{"id":"9113b34e600c970e","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getData","func":"let data = msg.payload.data;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3820,"y":1400,"wires":[["45327efd0dbd5541"]]},{"id":"547263b22b974b61","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2360,"y":1200,"wires":[["5f839f60667ce114"],["db9c41c13ef37ea8"],["393f6c01f2e33238"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"db9c41c13ef37ea8","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buildUserFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2610,"y":1200,"wires":[["8e5611d2f34c2f6f"]]},{"id":"393f6c01f2e33238","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buildUserFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2640,"y":1240,"wires":[["8e5611d2f34c2f6f"]]},{"id":"3dbebf1735cbac2b","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"win/lin?","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2850,"y":1420,"wires":[["c1440dab67e8be6c"],["057fbd87ab72fba6"]]},{"id":"c1440dab67e8be6c","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3030,"y":1400,"wires":[["3ec8280f09642874"]]},{"id":"057fbd87ab72fba6","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3040,"y":1440,"wires":[["3ec8280f09642874"]]},{"id":"bc0e391326a927a4","type":"catch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","scope":["122c1343a25e4027","1dbbcd19132e38b2"],"uncaught":false,"x":2875,"y":1080,"wires":[["5f839f60667ce114"]],"l":false},{"id":"5f839f60667ce114","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"function 50","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2945,"y":1100,"wires":[[]],"l":false},{"id":"4ca34d69eb9df267","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"function 51","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2945,"y":1140,"wires":[[]],"l":false},{"id":"b92719ae34af8f56","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":1930,"y":1160,"wires":[["b2f854044a28bb76"],["017537387632f522"]],"outputLabels":["defaultPath","userPath"]},{"id":"4fcf463f7aca0b15","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":1100,"wires":[["7eb69419694b4792"]]},{"id":"b5cc5ad8be6273d4","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":1140,"wires":[["515054214bc47567"]]},{"id":"515054214bc47567","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2270,"y":1140,"wires":[["1f26a34626b945a6"]]},{"id":"7eb69419694b4792","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2270,"y":1100,"wires":[["3d33fb0851f63211"]]},{"id":"c2dee66d34275304","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":1160,"wires":[["b92719ae34af8f56"]]},{"id":"3d33fb0851f63211","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2440,"y":1100,"wires":[["76bdd2e722faad76"]]},{"id":"e90278478997e4ca","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2640,"y":1140,"wires":[["8e5611d2f34c2f6f"]]},{"id":"76bdd2e722faad76","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2640,"y":1100,"wires":[["8e5611d2f34c2f6f"]]},{"id":"1f26a34626b945a6","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2440,"y":1140,"wires":[["e90278478997e4ca"]]},{"id":"0d22900d5285c62b","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"userPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2490,"y":1360,"wires":[["06f2681e27bfbe25","e3ac16bdb84e1d51"],["2e06813b38411fb2"]]},{"id":"932b8de9c7723a1d","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"userPath&MacSelection","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"rtdMacSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2290,"y":1360,"wires":[["0d22900d5285c62b"]]},{"id":"e3ac16bdb84e1d51","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":1300,"wires":[["6f77087f0ef556c4"]]},{"id":"06f2681e27bfbe25","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":1360,"wires":[["09b47c1970dd0101"]]},{"id":"09b47c1970dd0101","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2790,"y":1360,"wires":[["a235fbc6f7404977"]]},{"id":"6f77087f0ef556c4","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2790,"y":1300,"wires":[["470452656ad7f839"]]},{"id":"100d819d113be63b","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3150,"y":1360,"wires":[["1dbbcd19132e38b2"]]},{"id":"58bee3a0324031db","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3150,"y":1300,"wires":[["1dbbcd19132e38b2"]]},{"id":"470452656ad7f839","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2960,"y":1300,"wires":[["58bee3a0324031db"]]},{"id":"a235fbc6f7404977","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2960,"y":1360,"wires":[["100d819d113be63b"]]},{"id":"e13c4eff22eda1d3","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":3450,"y":1360,"wires":[["e0716e4edcef9c51","860716a832a908b1"],["10a17a0e2370ebe5"]]},{"id":"2ad006a2294988a7","type":"catch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","scope":["6ece9b51001c3f33"],"uncaught":false,"x":3550,"y":1160,"wires":[[]]},{"id":"8a4dcc8b713e0582","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"function 52","func":"let inspect = flow.get(\"rtdInspect\") || false;\nlet data = msg.data.sensor_data;\ndata.Timestamp = msg.data.received;\ndata.battery = Number(msg.data.battery_percent);\nmsg.payload = [data];\nif(inspect){\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3655,"y":1200,"wires":[["8187b2bb94b66b5d"],["6fd47adcde483659"]],"l":false},{"id":"e0716e4edcef9c51","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3620,"y":1320,"wires":[["67be168ab2eba50b"]]},{"id":"860716a832a908b1","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3630,"y":1360,"wires":[["e266a4021ebe0794"]]},{"id":"67be168ab2eba50b","type":"json","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":3715,"y":1320,"wires":[["4b7963d0742c3114"]],"l":false},{"id":"f3d5a1a28d78e139","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"39","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1520,"y":1180,"wires":[["c2dee66d34275304"],["dfc16cd2d9d5c922"]]},{"id":"dfc16cd2d9d5c922","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1200,"wires":[["e74f0411c44c6d69"]]},{"id":"e74f0411c44c6d69","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 117","mode":"link","links":["6495d6dc235a5764"],"x":1885,"y":1200,"wires":[]},{"id":"6495d6dc235a5764","type":"link in","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link in 177","links":["e74f0411c44c6d69"],"x":2945,"y":1060,"wires":[[]]},{"id":"d8edbbd6987378fe","type":"link in","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link in 178","links":["c0cf694846b29bca"],"x":1775,"y":1400,"wires":[["d772504c6cd2a397"]]},{"id":"4e911581a2e35cda","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"clearInspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2195,"y":1400,"wires":[["cc0226f553298130"]],"l":false},{"id":"cc0226f553298130","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 118","mode":"link","links":["a93cb5a17e7ad136","720cf7c9c6219e97","af91089fe91a2ba8","edca1f73e574a815"],"x":2245,"y":1400,"wires":[]},{"id":"6d2f777dad7e6865","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"inspectCheck","func":"let actualMAC = msg.payload;\nlet lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":1360,"wires":[["4e911581a2e35cda","932b8de9c7723a1d"]]},{"id":"e266a4021ebe0794","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 119","mode":"link","links":["f15ad0d7c5ca2802"],"x":3735,"y":1360,"wires":[]},{"id":"993e362472562ea5","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new NCD device with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1160,"wires":[["0b335ea6f7d8e767"]],"l":false},{"id":"d772504c6cd2a397","type":"ui-dropdown","z":"d92008bca04eb11f","g":"1ad35609a9341562","group":"3bf3a2cf8c096765","name":"Select MAC","label":"MAC","tooltip":"","order":1,"width":"","height":"","passthru":false,"multiple":false,"chips":false,"clearable":false,"options":[{"label":"Waiting for sensor...","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"rtdSelectMAC","x":1890,"y":1360,"wires":[["6d2f777dad7e6865"]]},{"id":"0b335ea6f7d8e767","type":"ui-notification","z":"d92008bca04eb11f","g":"1ad35609a9341562","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":3290,"y":1160,"wires":[]},{"id":"5a757973d40e9273","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":3135,"y":1160,"wires":[["993e362472562ea5"]],"l":false},{"id":"6fd47adcde483659","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 120","mode":"link","links":["af91089fe91a2ba8","720cf7c9c6219e97","a93cb5a17e7ad136"],"x":3705,"y":1220,"wires":[]},{"id":"23f85d30d67830bf","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"filterSensorData","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1340,"y":1180,"wires":[["f3d5a1a28d78e139"]]},{"id":"1fb53c9b9e0af901","type":"link in","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link in 205","links":["c5f9ca81aeecd92d"],"x":1465,"y":1360,"wires":[["6bf1a88ea50c341a"]]},{"id":"c5f9ca81aeecd92d","type":"link out","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"link out 137","mode":"link","links":["1fb53c9b9e0af901"],"x":4305,"y":600,"wires":[]},{"id":"6bf1a88ea50c341a","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getMACOptionsForDropdown","func":"let count = flow.get(\"rtdCountMAC\") || 0;\nif(!count){\n //..\n}\nelse{\n    let options = [];\n    for (let index = 0; index < count; index++) {\n        options[index] = flow.get(\"rtdMac[\"+index+\"]\")[0];\n    }\n    msg.options = options;\n    return msg;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1360,"wires":[["d772504c6cd2a397"]]},{"id":"3ec8280f09642874","type":"junction","z":"d92008bca04eb11f","g":"1ad35609a9341562","x":3220,"y":1420,"wires":[["1dbbcd19132e38b2"]]},{"id":"b2f854044a28bb76","type":"junction","z":"d92008bca04eb11f","g":"1ad35609a9341562","x":2060,"y":1120,"wires":[["4fcf463f7aca0b15","b5cc5ad8be6273d4"]]},{"id":"b4db2ca48dd65b46","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5f8f21bdd4c107d7","c59a870d62b55e53","2cd5bf9b08b9a526","b2ce40774b6cb6b7","c695d84d0418bc90","5b6e63aa140289b9","7f491d0477a81e79","3dc70aa13e1375a2","e063f3e5c5f74c4d","4b6473999e286c92","687cbe034e41796d","c8316edf37425bec","2a6a72e2a7132084","e6d4c58dc9025629","eade5c94e5f98725","de08a066b0e3d7da","cb72e8deb2c2c4c3","7cea99bdffc9c49f"],"x":4034,"y":759,"w":1102,"h":222},{"id":"460953dc96060b48","type":"group","z":"d92008bca04eb11f","name":"","style":{"fill":"none","label":true},"nodes":["b759caeb85e368b7","7ebdb792f318a5dc","761dc5f24506fb85"],"x":4614,"y":639,"w":632,"h":82},{"id":"56527be957791d6c","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c8b7ded7a40d8c6a","21c65f58ea6913ee","275482dadd9e548d"],"x":4614,"y":539,"w":492,"h":82},{"id":"5edd2213c8316624","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ab30a761b0172a03","c112b1eb314ec8fb","9608ca02881b8d2f","92d8677b5e6fa1bf","d0a9cb2be1138c62","e1c7b07bc094accc","40e074ab323d7e23","c0cf694846b29bca","4b42b1cd24ee889b","c943de803dd8c936","c5f9ca81aeecd92d"],"x":4034,"y":519,"w":552,"h":202},{"id":"bf82dfbc17e80901","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["427f72e713f3b422","af91089fe91a2ba8","24926e799e831a6f","ad1b24b6d5b89e26","6d3ac2b8bfa50483","3afd62ed94821fad","6bbc39e1fa1e41ad","e655b63146ca066c","d2dac8e7084f234b","6d132fc44a9ffe66","219e15c4e6aad59b","720cf7c9c6219e97","2c8347459d2255d0","c6cbc1e19a4e5930","0b9860878e605c21","2eb03f0fadf75b41","d6b4c5b36a577a03","cb55e94626a51bd1","f90425dd1fa04045","a93cb5a17e7ad136","c23cee37c9ce2750","bdb2ea5b1fbf7660","9009862a681da4da","558b0819339188d9","cfb62fea9d3beaaa","d876eaa7ca6cc284","25408472b5c31603","4812c0f09de79d4e","389579aed0ef99ba","25b521a73bd50eed","a777479cea61d4fd","383856288292108d","b690b3c207191c05","ec656663f90b5f07","38b8d990be0efee6","b8fb2bde2d8848e6","0d8b95f3fb58bc88","608248cda8aa4d6e","210e7435eaee1386","b228a2b88a9bed5e","ac4da71d37717c93","ebcdda15bbcd51b8","471333df010b4039","010ca20d178749aa","7b49b4220b9f5388","96cceea19ef7d328"],"x":4034,"y":1459,"w":1072,"h":482},{"id":"1ad35609a9341562","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4b7963d0742c3114","8187b2bb94b66b5d","45327efd0dbd5541","1dbbcd19132e38b2","711c5e3d68e0266c","017537387632f522","8e5611d2f34c2f6f","122c1343a25e4027","59bfeed6bfe526ef","d52de4044cdb349a","2e06813b38411fb2","69c6e36888f070b4","10a17a0e2370ebe5","6ece9b51001c3f33","9113b34e600c970e","547263b22b974b61","db9c41c13ef37ea8","393f6c01f2e33238","3dbebf1735cbac2b","c1440dab67e8be6c","057fbd87ab72fba6","bc0e391326a927a4","5f839f60667ce114","4ca34d69eb9df267","b92719ae34af8f56","4fcf463f7aca0b15","b5cc5ad8be6273d4","515054214bc47567","7eb69419694b4792","c2dee66d34275304","3d33fb0851f63211","e90278478997e4ca","76bdd2e722faad76","1f26a34626b945a6","0d22900d5285c62b","932b8de9c7723a1d","e3ac16bdb84e1d51","06f2681e27bfbe25","09b47c1970dd0101","6f77087f0ef556c4","100d819d113be63b","58bee3a0324031db","470452656ad7f839","a235fbc6f7404977","e13c4eff22eda1d3","2ad006a2294988a7","8a4dcc8b713e0582","e0716e4edcef9c51","860716a832a908b1","67be168ab2eba50b","f3d5a1a28d78e139","dfc16cd2d9d5c922","e74f0411c44c6d69","6495d6dc235a5764","d8edbbd6987378fe","4e911581a2e35cda","cc0226f553298130","6d2f777dad7e6865","e266a4021ebe0794","993e362472562ea5","d772504c6cd2a397","0b335ea6f7d8e767","5a757973d40e9273","6fd47adcde483659","3ec8280f09642874","b2f854044a28bb76","1fb53c9b9e0af901","6bf1a88ea50c341a","23f85d30d67830bf"],"x":1234,"y":1019,"w":2722,"h":462},{"id":"52e06e6bf5459023","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d874c73397e0a7fc","5482d83d4afbbeae","8a36cd182b91b9d2","f15ad0d7c5ca2802","7db152f132896984","f66f90e28763a925","617d95d512be2351","edca1f73e574a815","43a59a5ae9581298","9b4e8a77902c2f59","8dbec8e5511de9bc","b1e9ecc59eb07574","5b85f6df5d454f87","193436f9b9a898f0","d9498b6c07e249f9","12d0fb4c7e34a96a","f722f11bafca9bea","74a16cee8b6c1968","050a294b2e615586","54397ff1341c46b4","e6a7addf5380739d","ec6f59f1014b547e","17e0f1f8858a1668","ab94ad56d51a6c2d","02aa5ac24bcd7862","91f7d10b8276b7ec","826b7883d146eea9"],"x":4034,"y":1059,"w":872,"h":322},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"f2ad2d46148516b3","type":"ui-group","name":"rtdDownload","page":"1cc9b1f9c6862e4e","width":"6","height":"1","order":1,"showTitle":false,"className":"rtdGroupDownload","visible":"true","disabled":"false"},{"id":"1cc9b1f9c6862e4e","type":"ui-page","name":"ncd-rtd","ui":"ec459411017ddf37","path":"/rtd","icon":"mdi-thermometer","layout":"grid","theme":"e01eadf35316cb83","order":1,"className":"","visible":"true","disabled":"false"},{"id":"e910cf535b1f9673","type":"ui-group","name":"rtdInspect1","page":"1cc9b1f9c6862e4e","width":"4","height":"1","order":7,"showTitle":false,"className":"rtdInspectGroup","visible":"true","disabled":"false"},{"id":"23ca22d29798417d","type":"ui-group","name":"rtdInspect2","page":"1cc9b1f9c6862e4e","width":"4","height":"1","order":8,"showTitle":false,"className":"rtdInspectGroup","visible":"true","disabled":"false"},{"id":"aeea3b425edd8943","type":"ui-group","name":"rtdInspect3","page":"1cc9b1f9c6862e4e","width":"4","height":"1","order":9,"showTitle":false,"className":"rtdInspectGroup","visible":"true","disabled":"false"},{"id":"d068e3a10655f330","type":"ui-group","name":"rtdTempChart","page":"1cc9b1f9c6862e4e","width":"10","height":"1","order":3,"showTitle":false,"className":"rtdTempChart","visible":"true","disabled":"false"},{"id":"6b4595771e187bd5","type":"ui-group","name":"rtdBatteryChart","page":"1cc9b1f9c6862e4e","width":"10","height":"1","order":6,"showTitle":false,"className":"rtdBattGroups","visible":"true","disabled":"false"},{"id":"a6cfeb370f036dcd","type":"ui-group","name":"rtdBatteryGauge","page":"1cc9b1f9c6862e4e","width":"2","height":"1","order":5,"showTitle":false,"className":"rtdBattGroups","visible":"true","disabled":"false"},{"id":"fb272c46accd5141","type":"ui-group","name":"rtdGauges","page":"1cc9b1f9c6862e4e","width":"2","height":"1","order":4,"showTitle":false,"className":"rtdGauges","visible":"true","disabled":"false"},{"id":"3bf3a2cf8c096765","type":"ui-group","name":"rtdSelectMac","page":"1cc9b1f9c6862e4e","width":"6","height":"1","order":2,"showTitle":false,"className":"rtdGroupSelectMac","visible":"true","disabled":"false"},{"id":"e01eadf35316cb83","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"60df9cb6ecfa5f8d","type":"subflow:d92008bca04eb11f","z":"263e304177cfb150","name":"","x":1070,"y":1560,"wires":[]}]
